
/* ADDITIONAL CSS */

body,.heading,h1,h2,h3,h4,h5,h6,button{
    font-family: 'Changa', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    direction: rtl;
    text-align: right;
}

/* Footer */
.social {
    margin-right:auto;
    margin-left:10px;
}
img.foot-logo2 {
    margin-left: auto;
    margin-right:10px;
}
/* End Footer */

a.logo {
    text-align: left;
    float: left;
}

.label {
    font-size: 15px;
    padding-right:15px;
    padding-left: 0;
}

.col-4.readmore{
  text-align: left;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

  .lang.login{text-align: left}

  .social {
    margin-left:10px;
    margin-right: auto;
  }

  img.foot-logo2 {
      margin-left:auto;
      margin-right:20px;
  }
}
